@use 'sass:map';
@use '../../../theme-chalk/mixins/mixins' as *;
@use '../../../theme-chalk/mixins/utils' as *;
@use '../../../theme-chalk/mixins/var' as *;

@include b(empty) {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    text-align: center;
    border: 0px;
    border-radius: 4px;
    height: 100%;
    overflow: hidden;
    padding-top: 16px;
    padding-bottom: 8px;
    .empty-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1px 8px;
        gap: 4px;
        font-family: Nunito;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        letter-spacing: 0px;
        color: var(--cdd-col-fblue5);
        background: var(--cdd-col-background);
        box-sizing: border-box;
        border: 1px solid var(--cdd-col-fblue5);
        border-radius: 2px;
        margin-left: 8px;
        cursor: pointer;
    }
    .iflorens-ui-empty {
        margin: 0;
    }
    .iflorens-ui-empty-image {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-bottom: 0px;
        height: auto;
        overflow: hidden;
        img {
            width: auto;
            height: auto;
        }
    }
    .iflorens-ui-empty-description {
        margin: 0;
        color: var(--cdd-col-maintext);
        font-family: Nunito;
        font-size: 14px;
        font-weight: 500;
        height: 24px;
        flex-shrink: 1;
        white-space: nowrap;
        font-variation-settings: 'wght' 600;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
    }
}