@use '../../../theme-chalk/mixins/mixins.scss' as *;

@include b(watermark) {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  background-repeat: repeat;
  @include e(full-page) {
    position: fixed;
  }
}
