@use 'sass:map';
@use '../../../theme-chalk/mixins/mixins' as *;
@use '../../../theme-chalk/mixins/utils' as *;
@use '../../../theme-chalk/mixins/var' as *;

@include b(dropdown) {
    font-family: Nunito;
    font-size: 14px;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    letter-spacing: 0px;
    font-variation-settings: "opsz" auto;
    color: var(--fl-col-maintext);
    display: flex;
    flex-direction: row;
   

    &:hover {
        color: var(--fl-col-fblue5);

        .fl-icon {
            color: var(--fl-col-fblue5) !important;
        }
    }

    .#{$namespace}-icon {
        margin-top: 3px;
        margin-left: 9px;
    }

    @include m(card) {
        border-radius: 4px;
        background: var(--fl-col-background-grey);
        justify-content: space-between;
        &.iflorens-ui-dropdown-open {
            .icon-box {
                background: var(--fl-col-neutral9);
                border: none;
                .#{$namespace}-icon {
                    color: var(--fl-col-fblue5) !important;
                }
            }
        }

        .content {
            position: static;
            width: 100%;
            padding: 0 8px 0 8px;
            text-align: center;
        }

        .icon-box {
            width: 24px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 0 4px 4px 0;

            @include when(active) {
                background: var(--fl-col-neutral9);
                border: none;

                .#{$namespace}-icon {
                    color: var(--fl-col-fblue5) !important;
                }
            }
        }

        .#{$namespace}-icon {
            padding: 3px 4px 3px 4px;
            margin-top: 0;
            margin-left: 0;
            height: 22px;
            border-left: 1px var(--fl-col-line) solid;
        }


    }
}

.#{$namespace}-dropdown-ul {
    min-width: 200px !important;
    max-height: 320px !important;
    overflow-y: auto;

    .#{$namespace}-dropdown-li {
        .li-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 32px;
            .#{$namespace}-icon {
                font-size: 14px !important;
                margin-top: -3px;
                margin-left: 3px;
            }

            .li-item-text {
                display: flex;
                align-items: center;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }

    .#{$namespace}-dropdown-li:hover {
        background: #F5F6F9 !important;
    }

    .#{$namespace}-dropdown-li-active {
        background: #E8F0FF !important;

        .li-item .#{$namespace}-icon {
            color: rgb(65, 86, 167) !important;
        }
    }
}
.fl-dropdown-no-data {
    .#{$namespace}-dropdown-li:hover,
    .#{$namespace}-dropdown-li:active,
    .#{$namespace}-dropdown-li:focus,
    .iflorens-ui-dropdown-menu-item-selected
    {
        background: #fff !important;
        color: unset !important;
    }
}

.iflorens-ui-popover {
    z-index: 9999 !important;
}

:deep(.fl-dropdown-ul::-webkit-scrollbar) {
    width: 8px;
    background-color: transparent;
}

:deep(.fl-dropdown-ul::-webkit-scrollbar-thumb) {
    background-color: rgba(0, 0 , 0, 0.4);
    border-radius: 99px;
}

.fl-dropdown-del {
    :where(.css-xrs1jg).iflorens-ui-btn.iflorens-ui-btn-sm {
        height: 24px;
        padding: 0px 7px;
        border-radius: 4px;
        line-height: 24px;
    }
    :where(.css-dev-only-do-not-override-xrs1jg).iflorens-ui-btn >span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 10px;
    }
    :where(.iflorens-ui-popconfirm-message-title) {
        white-space: nowrap;
    }
}
