@use 'sass:map';
@use '../../../theme-chalk/mixins/mixins' as *;
@use '../../../theme-chalk/mixins/utils' as *;
@use '../../../theme-chalk/mixins/var' as *;

@include b(pages) {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--fl-col-background);
  border-radius: 16px;
  border: var(--fl-col-line) 1px solid;
  .page-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow: hidden;
    .page-top {
      display: flex;
      flex-direction: row;
      padding: 10px 15px 10px 15px;
      justify-content: space-between;
      border-bottom: solid 1px var(--fl-col-line);
      position: relative;
      .page-collect {
        flex: 1;
      }
      .iflorens-ui-popover .iflorens-ui-popover-inner {
        font-family: Nunito;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0px;
        font-variation-settings: 'opsz' auto;
        padding: 4px !important;
        .iflorens-ui-popover-title {
          color: var(--fl-col-secondarytext-new);
          padding-left: 12px;
          height: 32px;
          line-height: 32px;
          margin-bottom: 0;
        }
        .pages-down-ul {
          display: flex;
          flex-direction: column;
          margin-bottom: 0;
          overflow-y: auto;
          .pages-down-checkbox-box {
            flex: 1;
            width: 100%;
            > div {
              width: 100%;
            }
          }
          .li {
            width: 100%;
            height: 32px;
            line-height: 32px;
            padding: 0 12px;
            border-radius: 4px;
            margin-bottom: 4px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            &:last-child {
              margin-bottom: 0px;
            }
            &:hover {
              background: var(--fl-col-background-grey);
            }
            @include when(active) {
              background: var(--fl-col-fblue10);
            }
          }
        }
      }
      .page-top-right {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .page-button,
        :where(.css-dev-only-do-not-override-19iuou).page-button.iflorens-ui-btn-link {
          border: solid 1px transparent !important;
          color: rgba(62, 86, 167, 1) !important;
          border-radius: 4px !important;
          background: var(--fl-col-background-grey) !important;
          height: auto !important;
          width: auto !important;
          display: flex;
          flex-direction: row;
          box-sizing: border-box;
          padding: 9px !important;
          margin-left: 10px;
          &:hover {
            background: var(--fl-col-neutral9) !important;
          }
        }
        .dark-blue-setting-btn{
          background: transparent !important;
          color: #fff !important;
          border-radius: 4px !important;
          border: 1px solid #D9D9D9 !important;
          .fl-icon {
            color: #fff !important;
          }
        }
        .dark-blue-export-btn{
          margin-left: 10px;
            .iflorens-ui-btn{
              background: transparent !important;
              color: #fff !important;
              border-radius: 4px !important;
              border: 1px solid #D9D9D9 !important;
              .fl-icon {
                color: #fff !important;
              }
          }
        }
      }
    }
    .page-table {
      flex: 1;
      width: 100%;
      max-height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
    }
  }
  .page-search {
    min-width: 264px;
    max-width: 400px;
    position: relative;
    .drag-handle {
      height: 100%;
      width: 1px;
      left: 0;
      top: 0;
      position: absolute;
      cursor: col-resize;
      background: var(--fl-col-neutral9);
      &:hover {
        background: var(--fl-col-fblue5);
        width: 5px;
      }
    }
  }
}

.sac-filters-btn {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  align-items: center;
  line-height: 22px;
  font-size: 14px;
  font-weight: 500;
}
.dark-blue-filters-btn {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  align-items: center;
  line-height: 22px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  padding: 4px 6px;
  font-family: Nunito;
  font-variation-settings: "wght" 600;
}
