@use '../../../theme-chalk/mixins/mixins.scss' as *;
@use '../../../theme-chalk/mixins/var.scss' as *;

@include b(scrollbar) {
  & {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: transparent;

    &.fl-scrollbar-hover {
      .fl-scrollbar-bar {
        opacity: 0;
      }

      &:hover,
      &:focus,
      &:active {
        .fl-scrollbar-bar {
          opacity: 1;
        }
      }
    }

    &.fl-scrollbar-always {
      .fl-scrollbar-bar {
        opacity: 1;
      }
    }

    &.fl-scrollbar-none {
      .fl-scrollbar-bar {
        opacity: 0;
      }
    }
  }

  &-wrap-all {
    overflow: scroll;
  }
  &-wrap-x {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  &-wrap-y {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  &-wrap {
    height: 100%;
    -ms-overflow-style: none;
    // overflow: -moz-scrollbars-none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }
    .fl-scrollbar-loading {
      font-size: 14px;
      color: $scroll-color;
      line-height: 16px;
      text-align: center;
    }
    .fl-scrollbar-bottom-line {
      padding: 30px 0;
      text-align: center;
      font-size: 16px;
      color: $scroll-color;
      line-height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        content: '';
        display: block;
        width: 92px;
        height: 0px;
        border-top: 1px dashed $scroll-color;
        margin-right: 28px;
      }
      &::after {
        content: '';
        display: block;
        width: 92px;
        height: 0px;
        border-top: 1px dashed $scroll-color;
        margin-left: 28px;
      }
      .fl-scrollbar-bottom-text {
        margin: 0 0 0 6px;
      }
    }
  }

  &-bar {
    position: absolute;
    z-index: 1;
    border-radius: 4px;
    transition: opacity 120ms ease-out;

    &-thumb {
      width: 0;
      height: 0;
      cursor: pointer;
      border-radius: inherit;
      background-color: rgba(0, 0, 0, 0.7);
      transition: 0.3 background-color;
    }

    &.fl-scrollbar-vertical {
      width: 4px;
      top: 0;
      bottom: 0;
      right: 0;
      .fl-scrollbar-thumb {
        width: 100%;
      }
    }

    &.fl-scrollbar-horizontal {
      height: 4px;
      left: 0;
      right: 4px;
      bottom: 0;
      .fl-scrollbar-thumb {
        height: 100%;
      }
    }
    .fl-scrollbar-thumb {
      border-radius: 4px;
    }
  }
}
