@use './variables.scss' as *;
@use 'highlight.scss' as *;

.doc-content-document {
  position: relative;
  background: #fff;
  padding: 20px;
  .card {
    margin-bottom: 24px;
    padding: 24px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 12px #ebedf0;
  }

  a {
    margin: 0 1px;
    -webkit-font-smoothing: auto;

    &:active {
      color: darken(#29c1c2, 20%);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #323233;
    font-weight: bold;
    line-height: 1.5;

    &[id] {
      cursor: pointer;
    }
  }

  h1 {
    margin: 0 0 30px;
    font-size: 30px;
    cursor: #1a1a1a;
    font-weight: bold;
    position: relative;
    margin-bottom: 20px;
  }

  h2 {
    margin: 45px 0 20px;
    font-size: 24px;
  }

  h3 {
    margin: 40px 0px 16px;
    font-weight: 600;
    font-size: 20px;
  }

  h4 {
    margin: 24px 0 12px;
    font-weight: 600;
    font-size: 16px;
  }

  h5 {
    margin: 24px 0 12px;
    font-weight: 600;
    font-size: 15px;
  }

  p {
    color: #666666;
    font-size: 14px;
    line-height: 22px;
  }
  strong {
    margin: 24px 0 12px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  table {
    width: 100%;
    margin-top: 12px;
    color: #666666;
    font-size: 14px;
    line-height: 1.5;
    border-collapse: collapse;
    border: 1px solid #eee;
    th {
      padding: 8px 20px;
      font-weight: 600;
      text-align: left;
      border-left: 1px solid #e9e9e9;
      background-color: #f7f8fa;
      // &:first-child {
      //   padding-left: 0;
      // }

      &:last-child {
        padding-right: 0;
      }
    }

    td {
      padding: 8px 20px;
      border-top: 1px solid #f1f4f8;
      border-left: 1px solid #e9e9e9;
      &:first-child {
        // padding-left: 0;
        border-left: 0px;
        // version tag
        code {
          margin: 0;
          padding: 2px 6px;
          color: #29c1c2;
          font-weight: 600;
          font-size: 11px;
          background-color: fade(#29c1c2, 10%);
          border-radius: 20px;
        }
      }

      &:last-child {
        padding-right: 0;
      }
    }

    em {
      color: red;
      font-size: 14px;
      font-family: Nunito !important;
      font-style: normal;
      -webkit-font-smoothing: auto;
    }
  }

  > ul > li,
  > ol > li {
    position: relative;
    margin: 5px 0 5px 10px;
    padding-left: 15px;
    color: #666666;
    font-size: 15px;
    line-height: 26px;
  }

  hr {
    margin: 30px 0;
    border: 0 none;
    border-top: 1px solid #eee;
  }

  p > code,
  li > code,
  table code {
    display: inline;
    margin: 0 2px;
    padding: 2px 5px;
    font-size: 14px;
    font-family: inherit;
    word-break: keep-all;
    background-color: var(--l-color-primary-light-9);
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
  }

  p > code {
    font-size: 14px;
  }

  section {
    // padding: 24px;
    overflow: hidden;
  }

  blockquote {
    margin: 16px 0px;
    padding: 16px;
    background-color: var(--l-color-primary-light-9);
    border-left: 4px solid var(--l-color-primary);
    border-radius: 6px;
    p {
      color: #1a1a1a;
    }
  }

  &--changelog,
  &--changelog-v3 {
    strong {
      display: block;
      margin: 24px 0 12px;
      font-weight: 600;
      font-size: 15px;
    }

    h3 {
      + p code {
        margin: 0;
      }

      a {
        color: inherit;
        font-size: 20px;
      }
    }
  }
  .handle-part {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .online-btn {
      display: block;
      color: #5555e2;
      background-color: #fff;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        color: blue;
        text-decoration: underline;
      }
    }
  }
}
.hljs--one-dark.hljs {
  background: transparent !important;
}

.doc-content-document p > code,
.doc-content-document li > code,
.doc-content-document table code {
  background: #e6effb;
}
.vuedoc p {
  line-height: 22px;
  margin: 10px 0;
}

// -----------------------
::selection {
  background: $doc-default-color;
  color: #fff;
}

$public-radius: 10px;
.bckground-white {
  background-color: #fff;
}
.doc-content-wapper {
  width: 100%;
  height: 100vh;
  .doc-header-wapper {
    height: 50px;
    @extend .bckground-white;
  }
  .doc-aside-wapper {
    display: flex;
    flex-direction: column;
    @extend .bckground-white;
    overflow: hidden;
    .doc-logo {
      width: 100%;
      height: 50px;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .logo {
        width: 40px;
      }
    }
  }
  .doc-main-wapper {
    margin: 12px;
    border-radius: $public-radius;
    position: relative;
    z-index: 4;
    @extend .bckground-white;
    overflow: scroll;
  }
  .doc-footer-wapper {
    height: 30px;
    @extend .bckground-white;
    display: flex;
    justify-content: flex-end;
    line-height: 30px;
    color: #a1a6b2;
  }
  .doc-sroll-aside-height {
    height: calc(100vh - 66px);
  }
  .doc-sroll-main-height {
    height: calc(100vh - 124px);
  }
  .doc-header-wapper,
  .doc-footer-wapper {
    position: relative;
    &::before,
    &::after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      @extend .bckground-white;
      z-index: 0;
      pointer-events: none;
    }
    &::before {
      @extend .bckground-white;
    }
    &::after {
      background-color: #f5f6f9;
    }
  }
  .doc-header-wapper {
    &::before,
    &::after {
      bottom: -16px;
    }
    &::after {
      z-index: 1;
      border-radius: 16px 0 0 0;
    }
  }
  .doc-footer-wapper {
    &::before,
    &::after {
      top: -16px;
    }
    &::after {
      z-index: 1;
      border-radius: 0 0 0 16px;
    }
  }
}

.doc-content-document table {
  border: 0;
  // border-bottom-width: 1px;
  th {
    border-width: 0;
    background-color: #fff;
    padding: 12px 4px;
  }
  td {
    border-left-width: 0;
    padding: 12px 8px;
  }
}
.vuedoc-demo__inner {
  border-radius: 6px;
  overflow: hidden;
}
// .vuedoc-demo__preview{ background-color: transparent !important;}

.doc-footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}