/*css reset*/
@use './variables.scss' as *;
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: Nunito !important;
}
html,
body {
  height: 100%;
  overflow: hidden;
  font-family: Nunito !important;
}
html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  clear: both;
}
body {
  font-family: Nunito !important;
  font-size: 13px;
  background-color: #f5f6f9;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
i,
span,
em,
cite,
p,
dl,
dt,
dd,
span,
b {
  font-style: normal;
  font-weight: normal;
}
// 此处移除 color: inherit; 合冲突 请不要添加
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
ul,
ol,
li {
  list-style: none;
}
a {
  color: $color-primary;
  text-decoration: none;
}
a:hover {
  color: rgb(131, 192, 253);
}
