@use 'sass:map';
@use '../../../theme-chalk/mixins/mixins' as *;
@use '../../../theme-chalk/mixins/utils' as *;
@use '../../../theme-chalk/mixins/var' as *;

@include b(number-range) {
    width: 100&;
    height: auto;
    
    &.number-range-disabled {
        background-color: #F5F5F5;
        .number-range-input {
            background-color: #F5F5F5;
        }
    }
	.number-range {
        width: 100%;
        height: 34px;
		display: flex;
		align-items: center;
		border: 1px solid var(--cdd-col-line);
		border-radius: 4px;
        &.number-range-disabled {
            border: 1px solid var(--cdd-col-line);
        }
        .iflorens-ui-input-number-handler-wrap {
            display: none !important;
        }
		&.number-range-focus {
			border: 1px solid var(--cdd-col-fblue5);
		}
		.number-range-input {
            height: 32px;
            border: none;
            flex: 1;
            padding-left: 0px;
            &.iflorens-ui-input-number-focused {
                outline: none !important;
                border: none !important;
                box-shadow: none !important;
            }
        }
    }
}

